/*Блок content, подблок photo-grid*/
/*Основной код для разрешения 1280px*/
.photo-grid {
    width: 92.5%;
    max-width: 1184px;
    margin: 0 auto;
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 284px));
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
}

/*Расширение от 1024px до 1280px*/
@media screen and (max-width: 1024px) {
    .photo-grid {
        width: 90.63%;
        max-width: 928px;
        grid-template-columns: repeat(3, minmax(auto, 300px));
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
    }
} 

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 768px) {
    .photo-grid {
        width: 93.74%;
        max-width: 720px;
        margin-bottom: 88px;
        grid-template-columns: repeat(2, minmax(auto, 352px));
        grid-template-rows: repeat(6, 264px);
        gap: 16px;
    }
} 

/*Расширение от 320px до 768px*/
@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        margin-bottom: 64px;
        grid-template-columns: 288px;
        grid-template-rows: repeat(12, 216px);
        gap: 12px;
    }
} 

