/*Блок content, подблок places*/
/*Основной код для разрешения 1280px*/
.places {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: minmax(929px, 984px);
    grid-template-rows: repeat(5, minmax(auto, max-content));
    row-gap: 80px;
    box-sizing: border-box;
}

/*Расширение от 1024px до 1280px*/
@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
        grid-template-columns: minmax(721px, 928px);
    }
} 

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin-bottom: 90px;
        grid-template-columns: minmax(321px, 720px);
        grid-template-rows: repeat(5, minmax(auto, max-content));
        row-gap: 73px;
    }
} 

/*Расширение от 320px до 768px*/
@media screen and (max-width: 457px) {
    .places {
        max-width: 320px;
        margin-bottom: 66px;
        grid-template-columns: 320px;
        grid-template-rows: repeat(5, minmax(auto, max-content));
        row-gap: 50px;
    }
} 

