/*Блок header*/
/*Основной код для разрешения 1280px*/
.header {
  max-width: 1184px;  
  min-height: 52px;
  margin: 28px 48px 56px 48px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2A2C2F;
}

/*Расширение от 1024px до 1280px*/
@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 28px 48px 48px 48px;
  }
} 

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 28px 24px 48px 24px;
  }
} 

/*Расширение от 320px до 768px*/
@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    min-height: 42px;
    margin: 16px 16px 48px 16px;
  }
} 

