/*Блок footer*/
/*Основной код для разрешения 1280px*/
.footer__link {
  min-height: 18px;
  margin-right: 18px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/

/*Расширение от 320px до 768px*/
@media screen and (max-width: 320px) {
  .footer__link {
    min-height: 24px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
  
  .footer__link:last-child {
    margin-bottom: 0;
  }
} 