/*Блок content, подблок lead*/
/*Основной код для разрешения 1280px*/
.lead__title {
    width: 73.20%;
    max-width: 720px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
}

/*Расширение от 1024px до 1280px*/
@media screen and (max-width: 1024px) {
    .lead__title {
        width: 78%;
    }
}

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 789px) {
    .lead__title{
        width: 93.75%;
    }    
}

/*Расширение от 320px до 768px*/
@media screen and (max-width: 712px) {
    .lead__title {
        width: 90%;
        max-width: 288px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
    }
} 

