/*Блок footer*/
/*Основной код для разрешения 1280px*/
.footer__links {  
  margin: 0;  
  padding: 0;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/

/*Расширение от 320px до 768px*/
@media screen and (max-width: 320px) {
  .footer__links {
    margin-bottom: 48px;
    flex-direction: column;
  }
} 
