/*Блок content, подблок places*/
/*Основной код для разрешения 1280px*/
.place__paragraph {
    max-width: 484px;
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    box-sizing: border-box;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

/*Расширение от 1024px до 1280px*/
@media screen and (max-width: 1024px) {
    .place__paragraph {
        margin-bottom: 26px;
        max-width: 456px;
    }
}

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 26px;
    }
} 

/*Расширение от 320px до 768px*/
@media screen and (max-width: 661px) {
    .place__paragraph {
        max-width: 320px;
    }   
}




