/*Блок content, подблок places*/
/*Основной код для разрешения 1280px*/
.place__link {
    max-width: 456px;
    width: fit-content;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: underline;
    color: #FFFFFF;
    box-sizing: border-box;
}

.place__link:hover {
    opacity: 0.8;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 768px) {
    .place__link {
        max-width: 352px;
    }    
} 

/*Расширение от 320px до 768px*/
@media screen and (max-width: 661px) {
    .place__link {
        max-width: 288px;
    }
} 


