/*Блок content, подблок places*/
/*Основной код для разрешения 1280px*/
.place {
    width: 100%;
    max-width: 984px;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(30px, 460px) minmax(30px, 484px);
    grid-template-rows: min-content 460px;
    grid-template-areas:
      "place__title place__website"
      "place__image place__paragraph";
    column-gap: 40px;
    row-gap: 48px;
    box-sizing: border-box;
}

/*Расширение от 1024px до 1280px*/
@media screen and (max-width: 1024px) {
    .place {
        max-width: 927px;
        grid-template-columns: minmax(30px, 440px) minmax(30px, 456px);
        grid-auto-rows: min-content 440px;
        grid-template-areas:
          "place__title place__website"
          "place__image place__paragraph";
        column-gap: 32px;
    }
}

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        grid-template-columns: minmax(10px, 340px) minmax(10px, 352px);
        grid-template-rows: min-content auto;
        grid-template-areas:
          "place__title place__website"
          "place__image place__paragraph";
        column-gap: 28px;
    }
} 

/*Расширение от 320px до 768px*/
@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        grid-template-columns: 320px;
        grid-template-rows: auto 46px 320px auto;
        grid-template-areas: 
          "place__title" 
          "place__website"
          "place__image" 
          "place__paragraph";
        column-gap: 0px;
        row-gap: 32px;
    }
} 

