/*Блок footer*/
/*Основной код для разрешения 1280px*/
.footer {
  width: 92.5%;
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/*Расширение от 1024px до 1280px*/
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 973px) {
  .footer {
    width: 93.9%;
    max-width: 720px;
  }
} 

/*Расширение от 320px до 768px*/
@media screen and (max-width: 661px) {
  .footer {
    width: 58%;
    max-width: 186px;
    margin: 0px 118px 24px 16px;
    flex-direction: column;
  }
} 
