/*Блок content, подблок places*/
/*Основной код для разрешения 1280px*/
.place__url-heading {
    max-width: 456px;
    width: fit-content;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #AAAAAA;
    text-transform: uppercase;
    box-sizing: border-box;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 768px) {
    .place__url-heading {
        max-width: 352px;
        line-height: 12px;
    }
} 

/*Расширение от 320px до 768px*/
@media screen and (max-width: 320px) {
    .place__url-heading {
        max-width: 288px;
    }
} 

