/*Блок content, подблок places*/
/*Основной код для разрешения 1280px*/
.place__website {
    width: 100%;
    max-width: 456px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: end;
    flex-wrap: wrap;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
} 

/*Расширение от 320px до 768px*/
@media screen and (max-width: 457px) {
    .place__website {
        max-width: 288px;
        margin-right: 16px;
        margin-left: 16px;
    }
} 

