/*Общий блок всей страницы*/
.page__container {
  width: 100vw;  
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #2A2C2F;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .page__container {
        max-width: 1024px;
    }  
}

@media screen and (max-width: 768px) {
    .page__container {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page__container {
        max-width: 320px;
    }
}

