/*Блок content, подблок lead*/
/*Основной код для разрешения 1280px*/
.intro__title {
    max-width: 100%;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
}

/*Расширение от 1024px до 1280px*/

/*Расширение от 768px до 1024px*/

/*Расширение от 320px до 768px*/
@media screen and (max-width: 712px) {
    .intro__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
} 

